section.cv * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.cv {
  border: 1px solid red;
  width: 794px;
  height: 1123px;
  padding: 2rem;
}

section.personal {
  border: 1px dotted blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  min-height: 170px;
}

div.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.fullName {
  font-size: 5rem;
  font-weight: 700;
}

p.desired-position {
  font-size: 1.5rem;
}

div.contact {
  display: flex;
  gap: 0.5rem;
}

address.location {
  display: flex;
}

section.profile {
  border: 1px solid purple;
  padding: 0.3rem;
}

div.employment-meta,
div.education-meta {
  display: flex;
  justify-content: space-between;
}
